* {
  box-sizing: border-box;
}

.section {
  background-color: aquamarine;
  padding: 1rem solid black;
}

.container {
  background-color: bisque;
  max-width: 50rem;
  margin-inline: auto;
  padding: 1rem;
}

.children {
  border: 1px solid red;
  padding: 1rem;
}

.flex {
  display: flex;
}
